.dialog {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.dialog-wrapper {
  padding: 1rem;
  background: var(--primary);
}

.dialog .dialog-title {
  text-align: center;
  color: var(--dark);
}

.dialog-buttons {
  margin-top: 2rem;
}

.dialog-buttons .btn {
  margin-left: 10px;
}
