.tags-container {
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.tags-container ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.tags-container ul li {
  align-items: center;
  background: var(--primary);
  border-radius: 15px;
  color: var(--dark);
  display: flex;
  font-weight: bold;
  list-style: none;
  margin-right: 10px;
  padding: 5px 10px;
  font-family: var(--font-primary);
  margin-bottom: 15px;
}

.tags-container button {
  align-items: center;
  background: var(--dark);
  color: var(--bright);
  font-family: var(--primary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  width: 15px;
  outline: none;
}

.tags-container .tags-input-container {
  flex-grow: 1;
  padding: 0;
}

.tags-container input[type='text'] {
  border: none;
  width: 100%;
  background: transparent;
  outline: none;
  color: var(--primary);
  font-family: var(--font-primary);
  margin-bottom: 15px;
}

.tags-container input[type='text']::placeholder {
  color: var(--medium);
  opacity: 0.5;
}
