.btn {
  font-family: var(--font-secondary);
  transition: all 0.2s;
  min-width: 120px;
  padding: 10px 20px;
  font-size: 1rem;
  background: var(--secondary);
  text-transform: uppercase;
  color: var(--bright);
  outline: none;
  cursor: pointer;
  height: 50px;
}

.btn:hover {
  background: var(--bright);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  font-weight: bold;
}

.btn.bright {
  background-color: var(--bright);
  color: var(--dark);
}

.btn.error {
  background-color: var(--ko);
}

.btn.error:hover {
  color: var(--bright);
}

.btn[disabled] {
  opacity: 0.5;
  background: var(--secondary);
  color: var(--bright);
  font-size: 1rem !important;
  transition: none;
  font-weight: normal;
  outline: none;
  border: none;
}
