:root {
  /* colors */
  --primary: #f8c51d;
  --secondary: #c86818;
  --separator: #1b1b1b;
  --medium: #999999;
  --dark: #000;
  --bright: #fff;
  --ko: #e92119;
  --ok: #3c8c20;

  /* fonts */
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Oswald", sans-serif;
  --font-special: "Press Start 2P";

  /* font-sizes */
  --font-xs: 0.8rem;
  --font-sm: 1rem;
  --font-m: 1.2rem;
  --font-l: 1.6rem;
  --font-xl: 1.8rem;
  --font-xxl: 2rem;

  /* spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 3rem;
}
