/* @import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap"); */
/* @import "./css-styling.css"; */

html,
body {
  font-family: "Open Sans", Helvetica, Arial;
}

main {
  display: flex;
  height: 100vh;
}

main ul {
  width: 100px;
  list-style: none;
  padding: 1rem;
}

main > ul {
  border-right: 2px solid #eee;
}

main ul li {
  cursor: pointer;
  padding-bottom: 1rem;
}

main section#content {
  padding: 1rem 2.5rem;
}
